.chapter(data-title='Setting Up The Application')
  .step(
    data-title='What Are We Building?',
    data-file='WarmTransfer.Web/Controllers/ConferenceController.cs')
    :markdown
      ## Warm Transfer
      ![Warm Transfer](//howtodocs.s3.amazonaws.com/warm-transfers.png)

      Have you ever been disconnected from a support call while being transferred to
      someone else?

      Warm transfer eliminates this problem. Using Twilio powered
      warm transfers your agents will have the ability
      to dial in another agent in realtime.

      Here is how it works at a high level:

      1. The first agent becomes available when he/she connects through the web client.

      1. The second agent also becomes available when he/she connects through the web client.

      1. A client calls our support line.

      1. The client stays on hold while the first agent joins the call.

      1. While the first agent is on the phone with the client, he/she can dial a second agent into the call.

      1. Once the second agent is on the call, the first one can disconnect from it.
      The client and the second agent stay on the call.

      Let's get started!

      ---

      **See Also:**
      * [Getting started with ASP.NET MVC](//www.asp.net/mvc/overview/getting-started)
      * [The Twilio C# Helper Library](//github.com/twilio/twilio-csharp/wiki)

  .step(
    data-title="Setting Up Voice Web Hook",
    data-file='WarmTransfer.Web/Controllers/ConferenceController.cs',
    data-highlight='29-30')
    :markdown
      ## Setting Up Voice Web Hook

      First let's configure the voice webhook for the Twilio number that customers
      will dial when they want to talk to a support agent.
      ![Configure Voice](//howtodocs.s3.amazonaws.com/twilio-number-config-all-med.gif)

      This action method is the one that ASP.NET framework will generate the public-facing url.

  .step(
    data-title="Connecting as a Support Agent",
    data-file='WarmTransfer.Web/Scripts/warm-transfer.js',
    data-highlight='17-51')
    :markdown
      ## Connecting an Agent

      Here you can see all front-end code necessary to connect an agent using
      [Twilio's Voice Web Client](//www.twilio.com/webrtc).

      We essentially need three things to have a live web client:

      * A capability token (provided by our ASP.NET MVC app)
      * A unique identifier (string) for each agent
      * Event listeners to handle different Twilio-triggered events

      In the next step we'll take a closer look into capability token
      generation.

      ---

      **See also:**

      * [Twilio.js Library](//www.twilio.com/docs/api/client/twilio-js)
      * [Twilio Client Quickstart](//www.twilio.com/docs/quickstart/client)
      * [TwiML response with the twilio-csharp library](https://www.twilio.com/docs/quickstart/csharp/twiml)

  .step(
    data-title="Generating a Capability Token",
    data-file='WarmTransfer.Web/Domain/TwilioCapability.cs',
    data-highlight='7-13')
    :markdown
      ## Generating a Capability Token

      In order to connect the [Twilio Voice Web Client](//www.twilio.com/webrtc)
      we need a [capability token](//www.twilio.com/docs/client/capability-tokens).

      To allow incoming connections through the web client an identifier must
      be provided when generating the token. For this tutorial we used fixed
      identifier strings like `agent1` and `agent2` but you can use any
      generated strings for your call center clients. These identifiers will be
      used to create outbound calls to the specified agent using the [Twilio
      REST API](//www.twilio.com/docs/api/rest).

      ---

      **See also:**

      * [Twilio Client: Capability Tokens](//www.twilio.com/docs/client/capability-tokens)
      * [Twilio for net developers part 5 twilio client mvc and webmatrix helper libraries](//www.twilio.com/blog/2012/02/twilio-for-net-developers-part-5-twilio-client-mvc-and-webmatrix-helper-libraries.html)

  .step(
    data-title="Handling Incoming Calls From Clients",
    data-file='WarmTransfer.Web/Controllers/ConferenceController.cs',
    data-highlight='29-40')
    :markdown
      ## Handling Incoming Calls

      When a client makes a call to our Twilio number the application receives
      a POST request asking for instructions. We'll use [TwiML](//www.twilio.com/docs/api/twiml/) to instruct the client
      to join a conference room and the Twilio REST API client to start a call with
      the first agent, this way he will be able to join the same conference.

      When providing instructions to the client, we also provide a
      [`waitUrl`](//www.twilio.com/docs/api/twiml/conference#attributes-waitUrl).
      This URL is another end point of our application, it returns more TwiML
      to [say](//www.twilio.com/docs/api/twiml/say) welcome to the user and also
      [play](//www.twilio.com/docs/api/twiml/play) some music while on hold.
      Take a look at the GenerateWait method.

      We use the client's [`callSid`](//www.twilio.com/help/faq/voice/what-is-a-call-sid) as the conference identifier. Since all the participants
      need this identifier to join the conference we'll need to store it in a database so that we can grab it when we dial the second agent in.

  .step(
    data-title="Providing TwiML Instruction For The Client",
    data-file='WarmTransfer.Web/Domain/TwiMLGenerator.cs',
    data-highlight='8-15')
    :markdown
      ## Providing TwiML Instruction For The Client

      Here we create a `TwiMLResponse` that will contain a
      [`Dial`](//www.twilio.com/docs/api/twiml/dial) verb with a
      [`Conference`](https://www.twilio.com/docs/api/twiml/conference) noun that
      will instruct the client to join a specific conference room.

  .step(
    data-title='Dial First Agent Into the Call',
    data-file='WarmTransfer.Web/Domain/CallCreator.cs',
    data-highlight='18-22')
    :markdown
      ## Dial First Agent Into the Call

      For our app we created a `CallCreator` class to handle dialing our agents. This class uses
      Twilio's REST API to create a new call. The `InitiateOutboundCall` method receives the following parameters:

      1. `from`: Your Twilio number
      1. `to`  : The agent web client's identifier (`agent1` or `agent2`)
      1. `url` : A url to ask for TwiML instructions when the call connects

      Once the agent answers the call in the web client, a request is made to the
      callback url instructing the agent's call to join the conference room where
      the client is already waiting.

  .step(
    data-title='Dial Second Agent Into the Call',
    data-file='WarmTransfer.Web/Controllers/ConferenceController.cs',
    data-highlight='56-62')
    :markdown
      ## Dial Second Agent Into the Call

      When the client and the first agent are both in the call, we are ready to
      perform a *warm  transfer* to a second agent. The first agent makes a
      request passing its `identifier` that allows us to look for the `call.ConferenceId`
      needed to dial the second agent in. Since we already have a `CallCreator` class we can simply use the `CallAgent` method to connect the second agent in.


  .step(
    data-title='The First Agent Leaves the Call',
    data-file='WarmTransfer.Web/Domain/TwiMLGenerator.cs',
    data-highlight='8-15')
    :markdown
      ## The First Agent Leaves the Call

      When the three participants have joined the same call, the first agent has
      served his purpose. Now he can drop the call, leaving agent two and the client
      to have a pleasant conversation.

      It is important to notice the differences between the TwiML each one of the
      participants received when joining the call. Both, agent one and two, have
      `startConferenceOnEnter` set to `true`. This means the conference will start when
      any of them joins the call. For the client calling and for agent two, `endConferenceOnExit`
      is set to true. This causes the call to end when either one of these two participants
      drops the call.

  .step
    :markdown
      ## Where to next?

      That's it! We have just implemented warm transfers using ASP.NET MVC.
      Now your clients won't get disconnect from support calls while they are been
      transferred to some else.

      If you're a ASP.NET MVC developer working with Twilio, you might also enjoy these
      tutorials:

      [**Browser-Calls**](//www.twilio.com/docs/tutorials/walkthrough/browser-calls/csharp/mvc)

      Learn how to use Twilio Client to make browser-to-phone and browser-to-browser calls with ease.

      [**ETA-Notifications**](//www.twilio.com/docs/tutorials/walkthrough/eta-notifications/csharp/mvc)

      Learn how to implement ETA Notifications using ASP.NET MVC and Twilio.

      Thanks for checking out this tutorial! If you have any feedback
      to share with us, we'd love to hear it. [Contact the Twilio Developer Education Team](mailto:deved-oss@twilio.com) to let us know what you think.
